body { 
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

p {
	line-height: 148%;
	margin-bottom: 1em;
}

div {
    line-height: 148%;
}

a {
    color: #0000EE; 
    text-decoration: none;
}

a:hover {
    color: purple;
    text-decoration: underline;
}

a:visited {
    color: #0000EE;
    text-decoration: none;
}

a:visited:hover {
    color: purple;
}



.container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.container_0 {
    width: 230px;
}

.container_1 {
    width: 700px;
}

.container_2 {
    width: 240px;
}

.container_3 {
    width: 180px;
}

.container_4 {
    width: 100px;
}

.container_5 {
    width: 840px;
}

.grid_0 {
    display: inline;
    float: left;
}

.grid_1 {
    margin-left: 10px;
}

.grid_2 {
    margin-right: 10px;
}

.member-picture {
    height: 264px;
    width: 240px; 
}

.small-image {
    height: 32px;
    width: 32px;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.right {
    text-align: right;
}

.footer {
	text-align: center;
}

.lock_height {
    height: 100%;
}

.margin_bottom {
    margin-bottom: 16px;
}
